[submodule "git_game/git-game"]
	path = git_game/git-game
	url = https://github.com/git-game/git-game
[submodule "KedditBySteps"]
	path = KedditBySteps
	url = https://github.com/juanchosaravia/KedditBySteps
